@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fs-1 fw-normal">Welcome</h1>

    <div class="alert alert-info">
        <strong>Work-in-progress!</strong> This website is still being developed.
    </div>
</div>
